:root {
  --block-header-margin: var(--grid-base);
}

.block {
  position: relative;
}

.block.block-invert {
  background-color: var(--purple);
  color: var(--text-invert);
}

.block h2 {
  margin: 0;
}

.block > h2 {
  padding: var(--block-header-margin) var(--inset);
}

.block > .content > h2 {
  margin-top: var(--block-header-margin);
}

.block .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0.15;
  object-fit: cover;
}

.block .content {
  position: relative;
  padding: var(--block-header-margin) var(--inset);
}

.block > .content > :first-child {
  margin-top: 0;
}

.block > .content > :last-child {
  margin-bottom: 0;
}

.block .block-cta h3 {
  margin-bottom: 0;
}
