:root {
  --menu-height: calc(2 * var(--grid-base));
  --menu-item-height: calc(0.5 * var(--menu-height));
  --menu-item-margin: calc(0.5 * var(--menu-item-height));
}

.menu {
  display: flex;
  justify-content: flex-start;
  background-color: var(--purple-dark);
  height: var(--menu-height);
  color: var(--text-invert);
}

.menu .menu-item {
  display: block;
  height: var(--menu-item-height);
  line-height: var(--menu-item-height);
  margin: var(--menu-item-margin);
  font-weight: 500;
  border-bottom: none;
}

/* Ditch these */
.menu .icon {
  display: inline-block;
  text-align: center;
  width: var(--menu-item-height);
  vertical-align: top;
}

/* :( */
.menu .icon.pad-left {
  margin-left: var(--menu-item-margin);
}

.menu .menu-group {
  display: flex;
  align-items: center;
}

.menu .menu-space {
  flex: 1;
}

.menu .menu-left > :first-child .menu-item {
  margin-left: 0;
}

.menu-secondary {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  height: calc(100% - var(--menu-height));
  display: block;
  color: var(--text-invert);

  opacity: 0;
  transform: translateX(-100%);
  transition-duration: 0.5s;
  transition-timing-function: var(--easing);
  transition-property: transform, opacity;
}

.menu-expanded .menu-secondary {
  pointer-events: all;
  transform: translateX(0);
  opacity: 1;
}

.menu-secondary .menu-group {
  padding: 0 var(--inset);
}

.menu-secondary .menu-group .menu-item {
  font-size: var(--h1-font-size);
  font-weight: 500;
}

.body {
  transition-duration: 0.5s;
  transition-timing-function: var(--easing);
  transition-property: opacity, transform;
  transform-origin: center 50vh;
}

body {
  /* Fancy 3D */
  /* perspective: 750px; */
  /* perspective-origin: 100% 50vh; */
}

.menus.menu-expanded + .body {
  transform: scale(0.95);
  /* Fancy 3D */
  /* transform: scale(.95) rotateY(-25deg) translateZ(-95px); */
  opacity: 0.25;
  pointer-events: none;
}

.body-scroll-lock {
  overflow-y: hidden;
}
