.reviews {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews .review {
  margin-top: calc(0.5 * var(--inset));
}

.reviews .review > blockquote {
  position: relative;
  margin: 0;
}

.reviews .review > blockquote:before {
  content: "“";
  position: absolute;
  font-size: calc(2 * var(--font-base));
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--purple-dark);
  margin-left: -0.6em;
  margin-top: -0.25em;
}
