:root {
  --video-header-margin: var(--grid-base);
}

.video {
  position: relative;
  margin: 0 calc(-1 * var(--inset));
}

.block > .content > .video:first-child {
  margin-top: calc(-1 * var(--video-header-margin));
}

.video .background {
  position: relative;
  display: block;
  opacity: 0.5;
  object-position: center 30%;
  width: 100%;
  max-height: 45vw;
}

.video .content {
  position: absolute;
  bottom: 0;
  padding: var(--video-header-margin) var(--inset);
  width: 100%;
  box-sizing: border-box;
}

.video .content h2 {
  font-weight: bold;
  margin: 0;
  margin-left: -0.05em; /* Move over just a tad */
}

.video .content h2.huge {
  font-size: var(--h1-font-size);
}

.video .content p {
  margin: 0;
}

.video .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nuke this */
.video .overlay .icon {
  width: calc(3 * var(--grid-base));
}

.image-header .background {
  height: 35vw;
}

.background.background-collage {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-flow: column;
}

.background.background-collage .collage-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background.background-collage .collage-image:nth-child(1) {
  grid-column: span 7;
}

.background.background-collage .collage-image:nth-child(2) {
  grid-column: span 5;
}
