@import "https://unpkg.com/normalize.css@8.0.0/normalize.css";
/* @import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CLora:400,400i"; */

:root {
  --playfair: 'Playfair Display', 'Times', serif;
  --lora: 'Lora', 'Times', serif;
  --title-font: var(--playfair);
  --subtitle-font: var(--playfair);
  --body-font: var(--lora);
  --font-size: 2vw;
  --easing: cubic-bezier(.37,1.12,.07,1);

  --inset: 3rem;
  --card-inset: 2rem;

  --break: 0.06em;

  --black: #222222;
  --gray: #666666;
  --white: #ffffff;
  --yellow: #fab900;

  --green: #3AA37B;
  --purple: #978EA5;
  --periwinkle: #D6DFE4;
  --navy: #7d8ab6;
  --red: #BA5B58;
  --paisley: #F3E8C7;
  --pink: #E8C2B8;
  --graphite: #202020;
  --indigo: #264B55;

  --indigo-rgb: 35, 75, 85;
  --periwinkle-rgb: 214, 223, 228;
  --navy-rgb: 125, 138, 182;
}

html {
  font-family: var(--body-font);
  font-size: var(--font-size);
  color: var(--black);
  line-height: 1.25;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--title-font);
}

h2 {
  font-family: var(--subtitle-font);
  font-weight: 400;
}

h3 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 0.67rem;
  text-transform: uppercase;
}

a {
  --color: var(--secondary-color);
  position: relative;
  text-decoration: none;
  color: var(--color);
}

blockquote {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

blockquote h3 {
  margin-top: 0.5em;
}

blockquote:before {
  content: "“";
  position: absolute;
  left: -1ch;
  top: -.1em;
  font-style: normal;
  font-family: var(--title-font);
  font-weight: 700;
}

hr {
  width: 4.5rem;
  height: var(--break);
  border: none;
  background-color: var(--black);
}

ul {
  padding-left: 0;
}

.underline {
  position: relative;
  padding-bottom: 1em;
}

.underline:after {
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  background-color: var(--color, var(--black));
  width: 3em;
  height: var(--break);
}

.page a:before,
.navbar a:before,
.me a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--break);
  bottom: 0;
  left: 0;
  background-color: var(--color);
  visibility: hidden;
  backface-visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s var(--easing);
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (hover: none) {
  a:hover:before {
    visibility: hidden;
    transform: scaleX(0);
  }
}

iframe {
  border: none;
}

.navbar {
  position: sticky;
  top: -1px;
  font-family: var(--subtitle-font);
  font-weight: 700;
  padding: 0.5rem;

  background: white;
  z-index: 2; /* Sad sandwich. Needs to come above headlines */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0.25em;
}

.navbar li:after {
  content: ".";
}

.navbar li a {
  --color: var(--gray);
}

.navbar li a.scroll-active {
  --color: var(--black);
}

.page {
  color: var(--primary-color);

  position: relative;
  width: 100%;
  /* height: 100vh; */
  /* max-height: 75vw; */
  /* min-height: 100vmin; */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-dark {
  --primary-color: var(--white);
  --secondary-color: var(--white);
}

.page-light {
  --primary-color: var(--black);
  --secondary-color: var(--green);
}

.headline {
  font-weight: 300;
  font-size: 3rem;

  position: sticky;
  top: 2rem;
  z-index: 1; /* Sad sandwich. Needs to come above position relative */

  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: var(--inset);
  padding-right: var(--inset);
}

.page-light .headline {
  background: linear-gradient(white, white 80%,  rgba(255,255,255,0));
}

.me {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.me a {
  --color: var(--black);
  position: relative;
}

.line {
  display: block;
}

.body, .content {
  line-height: 1.5;
}

.page > .body {
  max-width: 67%;
}

.page > .body,
.page > .social {
  margin-left: var(--inset);
  margin-right: var(--inset);
}

.backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.backdrop .backdrop-image {
  display: block;
  width: 100%;
}

.backdrop-fade {
  height: initial;
  mask-image: linear-gradient(rgba(0,0,0,0.8) 10%, rgba(0,0,0,0));
}

.backdrop-image {
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: var(--inset);
  margin-right: var(--inset);
}

.card {
  position: relative;
  grid-column: span 12;
}

.card a {
  border-bottom-style: solid;
  border-bottom-width: var(--break);
  border-bottom-color: var(--color);
}

.card ul {
  list-style-type: none;
}

/* .card ul li { */
/*   text-indent: -1.1em; */
/* } */
/*  */
/* .card ul li:before { */
/*   content: "\2014\a0"; */
/* } */

.card-light {
  --color: var(--black);
  --secondary-color: var(--black);
  --primary-color: var(--black);
  color: var(--color);
}

.card-dark {
  --color: var(--white);
  --secondary-color: var(--white);
  --primary-color: var(--white);
  color: var(--color);
}

.card.card-gradient {
  --backdrop-color: var(--indigo-rgb);
  background: linear-gradient(to bottom right, rgba(var(--backdrop-color), 1) 10%, var(--black));
}

.card > .content {
  position: relative;
  padding: var(--card-inset);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: none; /* Let click fallthrough to overlay */
  /* transition: transform 0.5s var( --easing); */
}

/* .card:hover > .content { */
/*     transform: translateY(-0.5em); */
/* } */

.card > .content a,
.card > .content iframe {
  pointer-events: all; /* Reenable clicks for links */
}

.card > .content .no-inset {
  --margin: calc(-1 * var(--card-inset));
  margin: 0 var(--margin) var(--margin) var(--margin);
}

.card > .content .video-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: calc(100% * 9/16);
}

.card > .content iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card > .content.content-spacey {
  padding-top: 6rem;
}

.center {
  text-align: center;
}

.underline.center:after {
  left: calc(50% - 1.5em);
  transform-origin: top center;
}

[data-span="1"]  { grid-column: span 1; }
[data-span="2"]  { grid-column: span 2; }
[data-span="3"]  { grid-column: span 3; }
[data-span="4"]  { grid-column: span 4; }
[data-span="5"]  { grid-column: span 5; }
[data-span="6"]  { grid-column: span 6; }
[data-span="7"]  { grid-column: span 7; }
[data-span="8"]  { grid-column: span 8; }
[data-span="9"]  { grid-column: span 9; }
[data-span="10"] { grid-column: span 10; }
[data-span="11"] { grid-column: span 11; }
[data-span="12"] { grid-column: span 12; }

.card .content.content-backdrop {
  --color: var(--white);
  --backdrop-color: var(--indigo-rgb);
  background: linear-gradient(to bottom right, rgba(var(--backdrop-color), 1) 10%, rgba(var(--backdrop-color), 0));
  color: var(--color);
}

.backdrop-map {
  height: calc(100% + 20px); /* Cover up Open Map logo */
  overflow: hidden;
}

/* .map-pin { */
/*   position: absolute; */
/*   display: block; */
/*   width: 0.25rem; */
/*   height: 0.25rem; */
/*   border-radius: 50%; */
/*   border: 0.15em solid var(--white); */
/*   z-index: 1; */
/* } */
/*  */
/* .map-pin:before { */
/*   content: ""; */
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */
/*   left: -0.15em; */
/*   top: -0.15em; */
/*   border-radius: inherit; */
/*   border: inherit; */
/*   animation-name: gps; */
/*   animation-duration: 3s; */
/*   animation-fill-mode: both; */
/*   animation-timing-function: var(--easing); */
/*   animation-iteration-count: infinite; */
/* } */
/*  */
/* @keyframes gps { */
/*   from { */
/*     opacity: 1; */
/*     width: 100%; */
/*     height: 100%; */
/*   } */
/*   25% { */
/*     opacity: 0; */
/*     width: 500%; */
/*     height: 500%; */
/*     left: -0.625em; */
/*     top: -0.625em; */
/*   } */
/*   100% { */
/*     opacity: 0; */
/*   } */
/* } */

.drop {
  animation-name: drop;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
  animation-timing-function: var(--easing);
}

.drop:nth-child(1) {
  animation-delay: 0.1s;
}
.drop:nth-child(2) {
  animation-delay: 0.25s;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.underline:after {
  transform-origin: top left;
  backface-visibility: hidden;
  animation-delay: 0.5s;
  animation-name: grow;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
  animation-timing-function: var(--easing);
}

a.card-anchor {
  border-bottom: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.social {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  list-style: none;
}

.social a {
  display: block;
}

.social li {
  margin: 0.5em;
}

.social > li:first-child {
  margin-left: 0;
}

.social > li:last-child {
  margin-right: 0;
}

.social a {
  border-bottom: none;
}

.social a:before {
  content: none;
}

.social.social-small {
  --secondary-color: var(--gray);
  font-size: 1.5rem;
}

.social.social-small li:hover {
  --secondary-color: var(--black);
}

@media (hover: none) {
  .social.social-small li:hover {
    --secondary-color: var(--gray);
  }
}

.icon {
  display: block;
  width: 1em;
  height: 1em;
}

.icon path {
  fill: var(--color);
}

@keyframes grow {
  from {
    opacity: 0;
    transform: scaleX(0) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateZ(0);
  }
}

@media (orientation: portrait) {
  .page {
    /* height: 100vh; */
    /* max-height: 75vw; */
    /* min-height: 100vmin; */
    min-height: 75vh;
  }
}

@media (max-width: 1024px) {
  :root {
    --font-size: 2.5vw;
  }

  .headline {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .headline {
    position: static;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 3vw;
  }

  .headline {
    font-size: 2rem;
  }

  .page {
    align-items: flex-start;
  }

  .page > .body {
    max-width: initial;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }
}

/* @media (max-width: 768px) { */
/*   :root { */
/*     --font-size: 3.5vw; */
/*   } */
/*  */
/*   .headline { */
/*     font-size: 1.5rem; */
/*   } */
/* } */

@media (max-width: 480px) {
  :root {
    --font-size: 4vw;
    --inset: 1.5rem;
    --card-inset: var(--inset);
  }

  .grid {
    margin-left: 0;
    margin-right: 0;
  }

  .headline {
    font-size: 2.5rem;
  }
}
