.l-post-content code,
.l-post-content pre {
  font-size: 1em;
  color: #e5eff5;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.l-post-content pre {
  font-size: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 1.5em 0 3em;
  background: #0e0f11;
  border-radius: .3em;
}

@media only screen and (min-width: 48rem) {
  .l-post-content pre {
    font-size: 1.2rem;
  }
}

.l-post-content pre > code {
  padding: 2em;
  background: none;
}

/* Inline code */
.l-post-content :not(pre) > code {
  font-size: 0.9em;
  color: inherit;
  padding: .1em .3em;
  border-radius: .3em;
  white-space: normal;
}

/* Token styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
