:root {
  --book-row-height: calc(6 * var(--grid-base));
}

.books {
  margin-top: var(--block-header-margin);
}

.books .book {
  display: flex;
}

.books .book header {
  flex: 1 1 auto;
}

.books .book header :first-child {
  margin-top: 0;
}

.books .book header :last-child {
  margin-bottom: 0;
}

.books .book .book-cover {
  display: block;
  order: 1;
  height: var(--book-row-height);
  margin-left: var(--grid-base);
  border-bottom: none;
}

.books .book .book-cover img {
  height: 100%;
  display: block;
}
